.navbar {
    background-color: #1976d2;
    color: #fff;
    padding: 10px 20px; /* Aumenta o padding nas laterais */
    justify-content: space-between;
    align-items: center;
    height: 80px;
    display: flex;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-item {
    margin-left: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-link:hover {
    color: #ffd700;
  }
  
  /* Versão mobile */
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .navbar-item {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }